*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
body *,
body *::before,
body *::after {
  transition:
    background-color 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease,
    box-shadow 0.4s ease;
}

body img,
body svg {
  transition: opacity 0.3s ease !important;
}
